@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    scroll-behavior: smooth;
    cursor: default;
}
*::selection {
    background: transparent;
}
*::-moz-selection {
    background: transparent;
}
body {
    font-size: 1px;
    font-family: "Montserrat", sans-serif;
}
container,
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px 20px;
    position: relative;
}
.align {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track { 
    background-color: #00c3ff;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px; 
    background-color: #003cff;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #00b7ff;
    z-index: 2;
}
.header_align {
    max-width: 1440px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_logo > img {
    height: 60px;
}
.header_logo-txt {
    font-size: 40em;
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
}
.header_nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.header_nav-item {
    margin-left: 15px;
    font-size: 32em;
}
.header_nav-item > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.header_nav-line {
    height: 5px;
    background-color: #fff;
    transform: scaleX(0);
}
.header_nav-line:first-child {
    transform: scaleX(1);
}


/* INTRO */
#intro {
    background: linear-gradient(to bottom,#0597F2, #0455BF);
    height: 100vh;
}
#intro > .align {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.particle {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.intro_particle {
    font-size: 20em;
    position: absolute;  
    transition: 0s;
    border-radius: 50%;
    background: linear-gradient(to bottom,#0597F2, #0455BF);
    width: 90px;
    height: 90px;
}
.intro_particle:nth-child(1) {
    top: 20%;
    right: 50%;
}
.intro_particle:nth-child(2) {
    top: 60%;
    right: 73%;
    width: 70px;
    height: 70px;
}
.intro_particle:nth-child(3) {
    top: 40%;
    right: 30%;
}
.intro_particle:nth-child(4) {
    top: 10%;
    right: 10%;
}
.intro_particle:nth-child(5) {
    top: 70%;
    right: 20%;
}
.intro_title {
    font-size: 90em;
    color: #fff;
    z-index: 1;
}



/* TEAM */
#team {
    background: url(../img/team/wave1.svg) repeat-x #07B2D9;
    transition: linear 4s;
}
.team_title {
    font-size: 42em;
    margin: 20px 0px 10px;
    color: #ffffff;
}
.wrapper_align {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
}
.wrapper_box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 200%;
}
.wrapper_box-item {
    width: 25%;
    height: 100%;
    padding: 0px 15px;
    overflow: hidden;
}
.wrapper_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.wrapper_img {
    height: 100%;
    transform-origin: top;
    transform: scale(1.2);
}
.wrapper_box-item:hover .wrapper_img{
    transform: scale(1);
}
.wrapper_info {
    width: 100%;
    height: 30%;
    font-size: 48em;
    color: #fff;
    position: absolute;
    bottom: -50%;
    left: 0;
    background-color: #0781D9;
}
.wrapper_box-item:hover .wrapper_info{
    bottom: 0px;
}
.wrapper_btn-item {
    width: 12.5%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    cursor: pointer;
}
.wrapper_btn-item:hover {
    opacity: 0.3;
}
#next {
    right: 0px;
    top: 0px;
    justify-content: flex-end;
}
#prev_btn {
    margin-left: 20px;
}
#next_btn {
    margin-right: 20px;

}


/* VICTORY */
#victory {
    background: url(../img/advantages/wave1.svg) repeat-x #0597F2;
    height: 100vh;
    transition: linear 3s;
}

.victory_title {
    font-size: 42em;
    margin: 20px 0px 10px;
    color: #ffffff;
}

/* FOOTER */
footer {
    background-color: #00c3ff;
    height: 30vh;
}


/* BTN */
.btn {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 40px;
}
.btn:hover {
    width: 161px;
    height: 161px;
    border-radius: 100px 40px 40px;
}
.btn:hover .btn_up {
    transform: translateX(-85px) translateY(-10px);
    opacity: 1;
}
.btn:hover .btn_black {
    transform: translateX(-10px) translateY(-85px);
    opacity: 1;
}
.btn:hover .btn_line:first-child {
    transform: rotate(90deg) translateX(17px);
}
.btn:hover .btn_line:last-child {
    transform: translateY(-17px);
}
.btn:hover .btn_main {
    transform: rotate(45deg);
}


.btn_main {
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #00d9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn_up,
.btn_black {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 76px;
    height: 76px;
    background-color: #008cff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.btn_black {
    background-color: #008cff;
}

.btn_line {
    width: 40px;
    height: 6px;
    background-color: #008cff;
    margin: 11px 0px;
    border-radius: 3px 3px;
    transform-origin: center;
}
.btn_line:first-child,
.btn_line:last-child {
    margin: 0;
}
.btn_up > svg {
    height: 80%;
    transform: rotate(90deg);
}


